<div class="container add-customer">
    <div class="text-center">
        <h3 class="customer-form-head">EDIT USER PROFILE</h3>
    </div>
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-12 text-right">

                <div class="input-fields">
                    <span class="input-names">
                        Name
                    </span>
                    <input type="text" placeholder="DemoName User" [(ngModel)]="user.name"
                        [formControl]="editProfileForm.controls['name']" />

                </div>

                <div class="input-fields">
                    <span class="input-names">
                        Email
                    </span>
                    <input type="text" placeholder="DemoName User" readonly [(ngModel)]="user.email" name="email"
                        [formControl]="editProfileForm.controls['email']">

                </div>
                <div class="input-fields">
                    <span class="input-names">
                        Phone Number
                    </span>
                    <input type="text" placeholder="DemoName User" [(ngModel)]="user.phoneNumber"
                        [formControl]="editProfileForm.controls['phoneNumber']" />

                </div>

                <div class="text-center">
                    <input type="submit" class="cancel-btn" value="UPDATE">
                </div>
            </div>

        </div>
    </form>

</div>


<div class="text-center add-customer">
    <h3 class="change-pass-head">Change Password</h3>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

        <div class="input-fields">
            <span class="input-names">
                Old Password
            </span>
            <input type="password" formControlName="oldPassword" placeholder="Old Password"
                [ngClass]="{'is-invalid':submitted && c.oldPassword.errors}"
                [type]="fieldTextType ? 'text' : 'password'" />

            <i class="fa fa-eye-slash eye-icon" [ngClass]="{'fa-eye-slash': !fieldTextType,
            'fa-eye': fieldTextType
          }" (click)="toggleFieldTextType()">
            </i>
            <div *ngIf="submitted && c.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="c.oldPassword.errors.required">Old Password is required</div>
            </div>
        </div>
        <div class="input-fields">
            <span class="input-names">
                New Password
            </span>
            <input type="password" placeholder="New Password" formControlName="newPassword"
                [ngClass]="{ 'is-invalid': submitted && c.newPassword.errors }"
                [type]="fieldTextTypes ? 'text' : 'password'" >
            <i class="fa fa-eye-slash eye-icon" [ngClass]="{'fa-eye-slash': !fieldTextTypes,
                'fa-eye': fieldTextTypes
              }" (click)="toggleFieldTextTypes()"> 
            </i>
        
            <div *ngIf="submitted && c.newPassword.errors" class="invalid-feedback">
                <div *ngIf="c.newPassword.errors.required">New Password is required</div>
            </div> 
        </div>
        <button class="btn-primary cancel-btn">Change Password</button>
    </form>