.add-customer{
    background-color: white;
padding-top: 30px;
padding-bottom: 30px;
font-weight: 500;
color: darkgray;
margin-top: 23px;
    border-radius: 10px;

}
.add-customer input{
border-top: none;
border-right: none;
border-left: none;
border-bottom: 2px solid darkgray;
width: 70%;

}
.add-customer select{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid darkgray;
    width: 70%;
    
    }

.input-names{

    display: inline-flex;
    width: 143px;
}
.input-fields{
    margin-bottom: 19px;
}
.cancel-btn{
    background-color: #404040;
    border: none !important;
    padding: 2px 30px 2px 30px;
    color: white;
    width: auto !important;
}
.submit-btn{
    color: white;
    background-color: #404040;
    border: 2px solid darkgray ;
    padding: 2px 30px 2px 30px;
    position: absolute;
    bottom: 0px;
    border: none;
}
.customer-form-head{
    font-weight: 500;
}
.right-location{
    margin-top: 40px;
}
.eye-icon{
    position: absolute;
    right: 15px;
    cursor: pointer;
}




.input-fields{
    margin-bottom: 19px;
}
.input-fields input{
    width: 45%;
    margin-left: 15px;
}
.change-password-btn{      
    border-radius: 16px;
    border: none;
    padding: 0px 0px 0p 0px;
    padding: 4px 20px 4px 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;

}
.change-pass-head{
    margin-top: 10px;
}
.eye-icon{
    position: relative;
    right: 15px;
    cursor: pointer;
}