<div class="container add-customer">
    <div class="text-center">
        <h3 class="customer-form-head">Add NEW USER</h3>
    </div>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-8 text-right">

                <div class="input-fields">
                    <span class="input-names">
                        Name
                    </span>
                    <input type="text" placeholder="DemoName User" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </div>


                <div class="input-fields">
                    <span class="input-names">
                        Email
                    </span>
                    <input type="text" placeholder="abc@example.com" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Please enter a valid Email Format</div>

                    </div>
                </div>

                <div class="input-fields">
                    <span class="input-names">
                        Phone Number
                    </span>
                    <input type="text" placeholder="phone number " formControlName="phoneNumber"
                        [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">phoneNumber is required</div>

                    </div>
                </div>


                <div class="input-fields">
                    <span class="input-names">
                        Password
                    </span>
                    <i class="fa fa-eye-slash eye-icon" [ngClass]="{'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }" (click)="toggleFieldTextType()">
                    </i>
                    <input type="password" [type]="fieldTextType ? 'text' : 'password'" placeholder="password"
                        formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>

                    </div>

                </div>

                <div class="input-fields">
                    <span class="input-names">
                        Confirm Password
                    </span>
                    <i class="fa fa-eye-slash eye-icon" [ngClass]="{'fa-eye-slash': !fieldTextTypes,
                        'fa-eye': fieldTextTypes
                      }" (click)="toggleFieldTextType()">
                    </i>
                    <input type="password" formControlName="confirmPassword"
                        [type]="fieldTextTypes ? 'text' : 'password'" placeholder="confirm Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />

                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Please confirm your Password</div>


                    </div>

                </div>

                <input type="submit" class="cancel-btn" value="SUBMIT">

            </div>
            <div class="col-4 ">
    
                <input type="submit"  class="submit-btn" value="CANCEL">
                <!-- (click)="clearForm()" -->

            </div>
        </div>
    </form>

</div>