.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
  }
  .centered-img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-4%, -50%);
    color: white;
    // font-size: 40px;
  .spalsh-icon{
      width: 10% !important;
  }
}