
<div class="container-fluid splash-screen" [routerLink]="['/dashboard/login']">
   <img src="assets/splash.jpg" alt="" routerLink="/login">
   <!-- <div class="centered-img">
       <img src="assets/Group3.png" class="spalsh-icon" alt="">

   </div> -->

   <div class="centered">Survey App</div>

</div>

