<div class="container profile-page">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Change password"> 
            <changePassword></changePassword>
        </mat-tab>
        <!-- <mat-tab label="Update Profile"> Profile Update </mat-tab>
        <mat-tab label="Change Photo">Change Photo</mat-tab> -->
      </mat-tab-group>  
</div> 