<form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
<div class="container text-center offers-page">
  <div class="add-offers">
    <span class="offers">ADD NEW OFFERS</span>


    <input type="number"  formControlName="offers" [ngClass]="{ 'is-invalid': submitted && f.offers.errors }" />
    <div *ngIf="submitted && f.offers.errors" class="invalid-feedback">
        <div *ngIf="f.offers.errors.required">Offer is required</div>
    </div>
  </div>
  <input type="submit" value="Add Offer"  class="offer-btn">
</div>
</form>


<div class="container  user-lists">
  <div class="buttons-dashboard text-right">

  </div>
  <div class="text-center">
      Customers List
  </div>
  <input type="text" placeholder="Search here" class="search-input"  [(ngModel)]="search">
  <div class="scrollit">
      <table class="table user-table">
          <tbody>
              <tr>
                  <th>Gas Name</th>
                  <th>Action</th>
              </tr>
              <tr *ngFor="let user of allUsers  | filter:search">
                  <td>{{user.offers}}</td>
                  <td>
                      <mat-icon (click)="deleteGasType(user)">delete</mat-icon>
                      <!-- (click)="deleteGasType(user)" -->
                  </td>
              </tr>

          </tbody>
      </table>
  </div>

</div>