.input-fields{
    margin-bottom: 19px;
}
.input-fields input{
    width: 45%;
    margin-left: 15px;
}

.change-password-btn{      
    border-radius: 16px;
    border: none;
    padding: 0px 0px 0p 0px;
    padding: 4px 20px 4px 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #10174c;

}
.change-pass-head{
    margin-top: 10px;
}
.eye-icon{
    position: relative;
    right: 15px;
    cursor: pointer;
}