<div class="text-center">
    <h3 class="change-pass-head">Change Password</h3>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

        <div class="input-fields">
            <span class="input-names">
                Old Password
            </span>
            <input type="password" [type]="fieldTextTypes ? 'password' : 'oldPassword'" formControlName="oldPassword"
                placeholder="Old Password" [ngClass]="{'is-invalid':submitted && f.oldPassword.errors}" />

            <i class="fa fa-eye-slash eye-icon" [ngClass]="{'fa-eye-slash': !fieldTextTypes,
            'fa-eye': fieldTextTypes
          }" (click)="toggleFieldTextTypee()">
            </i>
            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
            </div>
        </div>
        <div class="input-fields">
            <span class="input-names">
                New Password
            </span>
            <input type="password" [type]="fieldTextType ? 'password' : 'newPassword'" placeholder="New Password"
                formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
            <i class="fa fa-eye-slash eye-icon" [ngClass]="{'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }" (click)="toggleFieldTextTypeee()">
            </i>
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">New Password is required</div>
            </div>
        </div>
        <button class="btn-primary change-password-btn">Change Password</button>
    </form>