.offers-page{
    background-color: white;
    height: 159px;
    margin-top: 30px;
    border-radius: 20px;
    padding-top: 40px;

}
.offers{
    color: #404040;
    font-weight: 400;
    margin-right: 10px;
}
.offer-btn{
    border: none;
    background-color: #10174c;
    color: white;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
   
}
 
.add-offers input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid darkgray;
    width: 70%;
    margin-bottom: 20px;
}
.customer-page{
    padding: 10px 40px 10px 40px;
}
.user-table th{
    color: darkgray;
    font-weight: 400;
    font-size: 12px;
text-align: center;
}
.user-table td{
vertical-align: middle;
text-align: center;
 
}   
.status-btn{
    color: white;
    border: none;
    border-radius: 3px;
    background-color: green;
}
.user-lists{
    border-radius: 19px;
    margin-top: 20px;
    background-color: white !important;
}
.scrollit {
    overflow:scroll;
    height:350px;
}