<form [formGroup]="gasTypeForm" (ngSubmit)="onSubmit()">
    <div class="container text-center offers-page">
        <div class="add-offers">
            <span class="offers">ADD NEW GasType</span>


            <input type="text" formControlName="gasType" [ngClass]="{ 'is-invalid': submitted && f.gasType.errors }" />
            <div *ngIf="submitted && f.gasType.errors" class="invalid-feedback">
                <div *ngIf="f.gasType.errors.required">GasType is required</div>
            </div>
        </div>
        <input type="submit" value="Add Gas Type" class="offer-btn">
    </div>
</form>

<div class="container  user-lists">
    <div class="buttons-dashboard text-right">

    </div>
    <div class="text-center">
        Customers List
    </div>
    <input type="text" placeholder="Search here" class="search-input"  [(ngModel)]="search">
    <div class="scrollit">
        <table class="table user-table">
            <tbody>
                <tr>
                    <th>Gas Name</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let user of allUsers  | filter:search">
                    <td>{{user.gasType}}</td>
                    <td>
                        <mat-icon (click)="deleteGasType(user)">delete</mat-icon>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>