<div class="container add-customer">
    <div class="text-center">
        <h3 class="customer-form-head">EDIT USER PROFILE</h3>
    </div>
    <div class="row">
        <div class="col-12 text-right">

            <div class="input-fields">
                <span class="input-names">
                    Last Location
                </span>
                <input type="text" readonly placeholder="DemoName User" value="{{user.location}}" />
            </div>
        </div>
    </div>
    <agm-map [latitude]="lats" [longitude]="lngs">
        <agm-marker [latitude]="lats" [longitude]="lngs"></agm-marker>
    </agm-map>
</div>