<div class="container-fluid admin-dashboard">
  <div class="wrapper">
    <div id="sidebar" class="sidebar">
      <div class="main-menu items-center navbar-imagess">
        <span class="text hideable">
          <h3>Survey App</h3>
        </span>
        <div class="text-center admin-img">
          <img class="hideable" onclick="navbars()" src="assets/face-7.jpg" alt="">
        </div>
      </div>

      <div class="abled-color" [routerLink]='["/dashboard/customerDetail"]'>
        <div class="main-menu collapsed text">
          <i class="fa fa-home home-icon theme-color" aria-hidden="true"></i>
          <span class="hideable" onclick="navbars()">Home</span>
        </div>
      </div>

      <div id="accordion">
        <div class="abled-color" [routerLink]='["/dashboard/addCustomer"]'>
          <div class="main-menu collapsed text" data-toggle="collapse" data-target="#demo5">
            <i class="fa fa-users home-icon theme-color" aria-hidden="true"></i>
            <span class="hideable side-hover"> Add User</span>
            <span class="plus-icon text hideable">+</span>
            <span class="minus-icon text hideable">-</span>
          </div>
        </div>

        <div class="abled-color" [routerLink]="['/dashboard/customers']">
          <div class="main-menu collapsed text" data-toggle="collapse" data-target="#user">
            <i class="fa fa-user home-icon theme-color" aria-hidden="true"></i>
            <span class="hideable">Customers </span>
            <span class="plus-icon text hideable">+</span>
            <span class="minus-icon text hideable">-</span>
          </div>
          <div id="user" class="collapse disabled-color" data-parent="#accordion">

          </div>
        </div>


        <div class="abled-color" [routerLink]="['/dashboard/offers']">
          <div class="main-menu collapsed text" data-toggle="collapse" data-target="#demo1">
            <span class="priscription-icon theme-color">Rx </span>
            <span class="hideable  ">
              OFFERS </span>
            <span class="plus-icon text hideable">+</span>
            <span class="minus-icon text hideable">-</span>
          </div>
        </div>

        <div class="abled-color" [routerLink]="['/dashboard/gas_type']">
          <div class="main-menu collapsed text" data-toggle="collapse" data-target="#demo1">
            <span class="priscription-icon theme-color">Rx </span>
            <span class="hideable  ">
              GasType </span>
            <span class="plus-icon text hideable">+</span>
            <span class="minus-icon text hideable">-</span>
          </div>
        </div>

        
      </div>
    </div>

    <!-- header-section -->

    <div class="main-content">
      <div class="container-fluid">
        <div class="row header-section">
          <div class="col-md-6">
            <span class="menu-bar">
              <mat-icon id="toggle" onclick="toggle()" class="col-black-theme">menu</mat-icon>
            </span>
            <span class="clinic-name"> </span>
          </div>
          <div class="col-md-6 iconss">
            <div class="right-items   header-icons">
              <!-- <i class="fa fa-bell-o noti header-icons" aria-hidden="true"></i> -->
              <!-- <i class="fa fa-settings header-icons" aria-hidden="true"></i> -->
              <mat-icon class="noti ">notifications</mat-icon>

              <mat-icon class="noti" [matMenuTriggerFor]="menu">settings</mat-icon>
              <mat-menu #menu="matMenu" yPosition="above">
                <button mat-menu-item [routerLink]="['/dashboard/profile']">
                  <mat-icon>
                    account_box</mat-icon>
                  profile

                </button>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>logout</mat-icon>

                  Logout
                </button>



              </mat-menu>
            </div>
          </div>
        </div>

        <div [@routeAnimations]="prepareRoute(outlet)">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </div>

    </div>
  </div>