
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
.admin-project{
    background-color: #404040;
}
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$survey-frontend-primary: mat-palette($mat-indigo);
$survey-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$survey-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$survey-frontend-theme: mat-light-theme($survey-frontend-primary, $survey-frontend-accent, $survey-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($survey-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// splash css
.splash-screen{
    position: relative;
    top: 50px;
    padding: 0px 40px 0px 40px !important;
}
.splash-screen img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

// login css

.login-right-section{
    padding-top: 38px;
    font-weight: 500;
margin-bottom: 10px;

}
.login-right-section h3{
    margin-bottom: 0px !important;
    color: #404040;
    font-weight: 500;

}

.login-right-section p {
    color: #404040;
}
.login-right-section form{
    padding-top: 20px;
}
.login-right-section label{
display: block;    
color: #404040;
}
.login-right-section input{
    width: 94%;
    border-bottom: 2px solid darkgray;
    border-top: none;
    border-right: none;
    border-left: none;  
    

}
.loginForm button{
    color: white;
    background-color: #404040;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}
.background-login{
    background-color: darkgrey;
}
.login-left-section img{
    width: 100%;
    height: 84vh;
    -o-object-fit: cover;
    object-fit: cover;
}
.login-page{
    -webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
position: relative;
    top: 50px;
    background-color: white;


}   

@media only screen and (min-width:1025px) and (max-width:1366px)
{
//     .login-page{
// position: relative !important;
// top: 126px !important;
//     }
    // .login-right-section{
    //     padding-top: 75px;    
    // }
}
.col-black-theme{
    color: white;
}

// dashboard csss body
.buttons-dashboard {
    border: none;
    padding: 5px 0px 5px 0px;
    margin-left: 10px;
}
.buttons-dashboard button{
    border: none;
    background-color: #10174c;
    color: white;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.search-input{
    border-top: none;
    border-bottom: 1px solid lightgray;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 25px;

}
