.customer-page{
    padding: 10px 40px 10px 40px;
}

.user-table th{
    color: darkgray;
    font-weight: 400;
    font-size: 12px;
text-align: center;
}

.user-table td{
vertical-align: middle;
text-align: center;
}   

.status-btn{
    color: white;
    border: none;
    border-radius: 3px;
    background-color: green;
}
.user-lists{
    border-radius: 19px;
    margin-top: 20px;
    background-color: white !important;
}
.scrollit {
    overflow:scroll;
    height:350px;
}