<div class="container  user-lists">
    <div class="buttons-dashboard text-right">
        <!-- <button>Import</button> -->
        <button [routerLink]="['/dashboard/addCustomer']">ADD
        </button>
    </div>  
    <div class="text-center">
        USERS LIST
    </div>
    <input type="text" placeholder="Search here" class="search-input"  [(ngModel)]="search">
    <div class="scrollit">
        <table class="table user-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Loyality Number</th>
                    <th>Email</th>
                    <th>Phone No.</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let user of allUsers  | filter:search">
                    <td>{{user.name}}</td>
                    <td></td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>
                        <button class="status-btn"> Active</button>
                    </td>
                    <td>

                        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>

                        <mat-menu #menu="matMenu" yPosition="above">
                            <button mat-menu-item (click)="edit(user)">
                                <mat-icon>edit</mat-icon>

                                EDIT
                            </button>
                            <button mat-menu-item (click)="loc(user)">
                                <mat-icon>gps_fixed</mat-icon>

                                track
                            </button>

                            <button mat-menu-item (click)="deleteUser(user)">
                                <mat-icon>delete</mat-icon>
                                DELETE
                            </button>

                        </mat-menu>
                    </td>
                </tr>
                <!-- <tr *ngIf="!allUsers||allUsers.length==0">  
                    <td colspan="4">  
                        No Data Found  
                    </td>  
                  </tr>   -->

            </tbody>
        </table>
    </div>

</div>