.login-btn{
    background-color: #404040;
    color: white;
    border: none;
    padding: 5px 40px 5px 40px;
}
.fields{
    margin-bottom: 15px;
}
.eye-icon{
    position: relative;
    right: 15px;
    cursor: pointer;
}