<div class="container login-page ">
    <div class="row">
        <div class="col-6 login-left-section">
            <img src="./assets/loginScreen.png" alt="login_image">
        </div>
        <div class="col-6 login-right-section ">
            <h3 class="text-center">Admin Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">

                <div class="fields">
                    <label>E-mail</label>
                    <input type="text" placeholder="demomail21@gmail.com" formControlName="email"
                        [ngClass]="{'is-invalid':submitted && f.email.errors}">

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>

                <div class="fields">
                    <label>password</label>
                    <input type="password" [type]="fieldTextType ? 'text' : 'password'" placeholder="************"
                        formControlName="password" [ngClass]="{'is-invalid':submitted && f.password.errors}">

                    <i class="fa fa-eye-slash eye-icon" [ngClass]="{'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }" (click)="toggleFieldTextTypess()">
                    </i>

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>

                <input type="submit" class="login-btn" value="LOGIN">
            </form>
        </div>
    </div>
</div>