<div class="container  user-lists">
    <div class="buttons-dashboard text-right">
        <button (click)="download()">Download CSV
        </button>
    </div>
    <div class="text-center">
        Customers List
    </div>
    <input type="text" placeholder="Search here" class="search-input" [(ngModel)]="search">
    <form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
        <p>From: <input id="dateFrom"  formControlName="fromDate" placeholder="dd/mm/yyyy"  type="text">
             To: <input id="dateTo"   formControlName="toDate" placeholder="dd/mm/yyyy" type="text">
             <button  class="buttapply" >APPLY</button> <p>
</form>
<button  class="buttapply"  (click)="refresh()">Refresh</button>


    <div class="scrollit">
        <table class="table user-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Flat </th>
                    <th>City</th>
                    <th>Street</th>
                    <th>State</th>
                    <th>ContactNumber</th>
                    <th>gasType</th>
                    <th>loyalityNumber</th>
                    <th>offers</th>
                    <th>purchaseOn</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let user of allcustomers | filter:search">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.flat}}</td>
                    <td>{{user.city}}</td>
                    <td>{{user.street}}</td>
                    <td>{{user.state}}</td>
                    <td>{{user.contactNumber}}</td>
                    <td>{{user.gasType}}</td>
                    <td>{{user.loyalityNumber}}</td>
                    <td>{{user.offers}}</td>
                    <td>{{user.createdOn | date}}</td>
                        <td>
                        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                        <mat-menu #menu="matMenu" yPosition="above">
                            <button mat-menu-item (click)="track(user)">
                                <mat-icon>gps_fixed</mat-icon>
                                track
                            </button>
                        </mat-menu>
                    </td>
                </tr>
             
            </tbody>
        </table>
    </div>

</div>